html {
  height: 100%;
  width: 100%;
}

table img {
  width: 32px; 
  height: 32px; 
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

tr:nth-child(odd) {
  background-color: #e3e3e3;
}

tr {
  border-bottom: 1px solid #ddd;
}

td, th {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}
