html {
  height: 100%;
  width: 100%;
}

table img {
  width: 32px; 
  height: 32px; 
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td, th {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}
